<p><a id="hide" href ="">Hide your history</a></p>

<table>
  <caption>Your Scores</caption>
  <tr>
    <th>Deck</th>
    <th>Score</th>
    <th>Date/Time</th>
  </tr>
  <% @user.rounds.each do |round| %>
    <tr>
      <td><%= round.deck.name %></td>
      <td><%= (round.score.to_f / round.deck.cards.length * 100).to_i %>%</td>
      <td><%= round.updated_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
    </tr>
  <% end %>
</table>

<p><a id="hide" href ="">Hide your history</a></p>