<div class="container">
  <h1>Welcome User.</h1>
  
  <h4>Pick a Deck...</h4>
  <ul>
    <li>deck 1</li>
    <li>deck 2</li>
    <li>deck 3</li>
  </ul>

  <p><a href ="/user/:id/history">view my history</a></p>
</div>
